frontend/react/node_modules
frontend/vue/node_modules
frontend/react/dist
frontend/react/.idea
frontend/react/.vscode
frontend/roadaspen-admin-react/node_modules
frontend/roadaspen-admin-react/dist
frontend/roadaspen-admin-react/.idea
frontend/roadaspen-admin-react/.vscode
frontend/roadaspen-admin-react/src/.umi
frontend/vue/dist
frontend/vue/.idea
frontend/vue/.vscode
backend/koa2/node_modules
backend/koa2/dist
backend/koa2/.idea
backend/koa2/.vscode
backend/nest/node_modules
backend/nest/dist
backend/nest/.idea
backend/nest/.vscode
.idea
.vscode
