.logo h1{
    text-align: center;
    color: #ffffff;
    margin: 0;
    font-size: 20px;
    line-height: 2.5; 
}
.trigger{
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 50px;
    padding:0 20px ;
    vertical-align: top;
}

.content{
    padding:20px;
    box-sizing: border-box;
    min-height: calc(100vh - 84px);
    background: #ffffff;
}

.header{
    padding: 0;
    height: 50px;
    box-shadow: 0 -7px 10px 1px black;
    background-color: #ffffff;
    z-index: 3;
}
.breadcrumb{
    margin: 10px 0;
    display: inline-block;
}