$header_height:60px;// header 高度
$footer_height:60px; // footer 高度
$aside_width:200px; // 左侧导航最大宽度
$aside_collapsed_width:80px; // 左侧导航最小宽度
$main_min_width:1100px; // 页面最小宽度
$theme_background_color:#001529; // 主题背景色 深色
$main_under_painting_color:#f0f2f5;// 主体背景色 浅灰色
.main{
    min-width: $main_min_width;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    .aside{
        order: 0; /*在box中的顺序*/
        flex-grow: 0; /*在父元素 flex-direction 方向上还有空闲时，是否放大 */
        flex-shrink: 0;
        background-color: $theme_background_color;
        transition: all .2s;
        .logo{
            height: $header_height;
            line-height: $header_height;
            text-align: center;
            img{
                height: 60px;
            }
        }
    }
    .aside_nocollapsed{
        flex-basis: $aside_width;
    }
    .aside_collapsed{
        flex-basis: $aside_collapsed_width;
    }
    .content{
        order: 1;
        flex-grow: 1;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        background-color: $main_under_painting_color;
        .header_box{
            height:$header_height;
            background-color: #ffffff;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: auto;
            .trigger,.logout{
                flex: 0 0 auto;
                font-size: 18px;
                line-height: $header_height;
                padding: 0 24px;
                cursor: pointer;
                transition: color .2s;
            }
        }
        .page{
            flex-grow: 1;
            padding: 10px;
            .page_content{
                background: #ffffff;
                border-radius: 5px;
                box-shadow: 0 0 8px 1px #bbbbbb;
                .page_tab{
                    margin: 0;
                    display: flex;
                    flex-direction: row;
                    background: #ffffff;
                    padding: 0;
                    border-bottom: 1px solid #dddddd;
                    li{
                        list-style: none;
                        border-right: 1px solid #dddddd;
                        flex: 0 0 auto;
                        margin-bottom: -1px;
                        p{
                            margin: 0;
                            padding: 10px;
                            text-align: center;
                            border: {
                                top:3px solid #1890ff;
                                left:1px solid transparent;
                                right:1px solid transparent;
                            }
                            background: #ffffff;
                        }
                    }
                }
                .page_body{
                    padding: 10px 10px 20px;
                }
            }
        }
        .footer_box{
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis:auto;
            height: $footer_height;
            line-height: $footer_height;
            font-size: 14px;
            background-color: #ffffff;
            p{
                margin: 0;
                text-align: center;
            }
        }
    }
}